<div class="p-4">
  <!-- header -->
  <div class="block md:flex justify-between">
    <h1>Historic Data</h1>
    <!-- time range & period selector -->
    <div class="block md:flex justify-end gap-x-4">
      <mat-form-field>
        <mat-label>Time Range</mat-label>
        <mat-select
          [value]="selectedTimeRange"
          (selectionChange)="onTimeRangeChange($event.value)"
        >
          <mat-option
            *ngFor="let timeRange of timeRanges"
            [value]="timeRange"
            >{{ timeRange }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Period</mat-label>
        <mat-select
          [value]="selectedPeriod"
          (valueChange)="onPeriodChange($event)"
        >
          <mat-option *ngFor="let period of periods" [value]="period">{{
            period
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- ./time range & period selector -->
  </div>
  <!-- ./header -->

  <!-- region tab bar -->
  <div class="pb-8" *ngIf="regions; else spinner">
    <mat-tab-group (selectedIndexChange)="onRegionTabChange($event)">
      <mat-tab *ngFor="let region of regions" [label]="region.name"
        ><ng-container [ngTemplateOutlet]="regionData"></ng-container
      ></mat-tab>
    </mat-tab-group>
  </div>
  <!-- ./region tab bar -->
</div>

<!-- <mat-card><mat-card-content>asdfsdff</mat-card-content></mat-card> -->

<ng-template #regionData>
  <div class="pt-4">
    <h2>{{ selectedRegion?.name }}</h2>
    <!-- fuel filters -->
    <div class="mb-4">
      <app-line-chart
        *ngIf="generationData$ | async as data; else spinner"
        [title]="'Generation'"
        [series]="data.metadata.fuels | fuelsToLineSeries"
        [data]="data.data | dataToLineDataPoints: 'fuel'"
      ></app-line-chart>
    </div>
    <div class="mb-4">
      <app-line-chart
        *ngIf="generationData$ | async as data; else spinner"
        [title]="'Generation (Green vs Fossil)'"
        [series]="greenFossilLineSeries"
        [data]="data | dataToGreenFossilLineDataPoints"
      ></app-line-chart>
    </div>
    <div class="mb-4">
      <app-line-chart
        *ngIf="demandData$ | async as data; else spinner"
        [title]="'Demand'"
        [series]="data.metadata.fuels | fuelsToLineSeries"
        [data]="data.data | dataToLineDataPoints: 'fuel'"
      ></app-line-chart>
    </div>
  </div>
</ng-template>

<ng-template #spinner>
  <div class="flex justify-center py-16">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
