<mat-drawer-container class="p-4 h-screen">
  <div class="flex justify-between">
    <h1>Historic Data</h1>
    <!-- date range & resolution -->
    <div class="flex justify-end gap-x-4">
      <mat-form-field>
        <mat-label>Time Range</mat-label>
        <mat-select
          [(value)]="selectedTimeRange"
          (selectionChange)="refreshData()"
        >
          <mat-option
            *ngFor="let timeRange of timeRanges"
            [value]="timeRange"
            >{{ timeRange }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Period</mat-label>
        <mat-select [(value)]="selectedPeriod" (valueChange)="refreshData()">
          <mat-option *ngFor="let period of periods" [value]="period">{{
            period
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- <mat-card><mat-card-content>asdfsdff</mat-card-content></mat-card> -->
  <ng-container *ngIf="data$ | async as data; else spinner">
    <div *ngFor="let region of data?.metadata?.regions; let i = index">
      <h2>{{ region.name }}</h2>
      <!-- fuel filters -->
      <app-line-chart
        *ngIf="data"
        [title]="region.name + ' Generation'"
        [series]="data.metadata.fuels | fuelsToLineSeries"
        [data]="
          data.data
            | filterDataByRegion: region.id
            | filterDataByPower: generatePowerId
            | dataToLineDataPoints: 'fuel'
        "
      ></app-line-chart>

      <app-line-chart
        *ngIf="data"
        [title]="region.name + ' Demand'"
        [series]="data.metadata.fuels | fuelsToLineSeries"
        [data]="
          data.data
            | filterDataByRegion: region.id
            | filterDataByPower: demandPowerId
            | dataToLineDataPoints: 'fuel'
        "
      ></app-line-chart>
    </div>
  </ng-container>
</mat-drawer-container>

<ng-template #spinner>
  <div class="flex justify-center py-16">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
