<!-- mobile nav -->
<div class="md:hidden">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a mat-button routerLink="/">
        <mat-icon aria-label="lightning-bolt">bolt</mat-icon>
        <span>Energy Supply & Demand</span>
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a
        class="flex-grow"
        mat-button
        [routerLink]="['/']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="navbar-link-active"
        >Live Data</a
      >
      <a
        class="flex-grow"
        mat-button
        [routerLink]="['/historic']"
        routerLinkActive="navbar-link-active"
        >Historic Data</a
      >
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<!-- ./mobile nav -->

<!-- desktop nav -->
<div class="hidden md:block">
  <mat-toolbar color="primary">
    <a mat-button routerLink="/">
      <mat-icon aria-label="lightning-bolt">bolt</mat-icon>
      <span>Energy Supply & Demand</span>
    </a>
    <a
      mat-button
      [routerLink]="['/']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="navbar-link-active"
      >Live Data</a
    >
    <a
      mat-button
      [routerLink]="['/historic']"
      routerLinkActive="navbar-link-active"
      >Historic Data</a
    >
  </mat-toolbar>
</div>
<!-- ./desktop nav -->
